.spot-price-chart {
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  height: 60vh;
  width: 80%;
  padding-bottom: 10rem;
}

.spot-price-chart-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem 0;
}

.label-metadata > span {
  font-weight: 700;
}